.myheader {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  background-color: rgb(172, 25, 25);
  text-align: center;
  padding: 5px;

  border-style: solid;
  border-color: rgb(0, 0, 0)ed;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #7a9739;
}

.active {
  background-color: #04AA6D;
}