[class~='ant-col'] {
    background: transparent;
}

[class~='ant-col']>div {
    margin-bottom: 15px;
}

pre {
    padding: 8px 16px;
    font-size: 14px;
    background: #f9f9f9;
    border-radius: 6px;
}

.grid-product-style {
    flex-grow: 1;
    overflow: auto;
    text-align: center;
}

pre.demo-code {
    direction: ltr;
}

.ant-col {
    padding: 0;
}