.headerStyle {
    overflow: hidden;
    position: fixed;
    top: 0;
    margin-top: 0;
    text-align: center;
    background-color: #f8f9fa;

    width: calc(100% - 16px);
    max-width: calc(100% - 16px);
    min-width: 600px;
    height: 100px;
}

.contentStyle {
    display: flex;
    margin-left: 10px;
    padding: 10px;
    text-align: center;

    min-height: 350px;
    max-height: calc(100vh - 120px);
}

.siderStyle {
    display: flex;
    color: #fff;
    background: inherit;
    overflow: auto;

    max-height: calc(100vh - 120px);
}

.footerStyle {
    overflow: hidden;
    text-align: center;
    color: #fff;

    position: fixed;
    bottom: 0;

    width: calc(100% - 16px);
    max-width: calc(100% - 16px);
    min-width: 600px;

    background-color: #4096ff;
}

.layoutStyle {
    margin-top: 100px;
    width: calc(100%);
    max-width: calc(100%);
    min-width: 600px;
}