.headerStyle {
    overflow: hidden;
    position: fixed;
    top: 0;
    margin-top: 0;
    text-align: center;

    width: calc(100% - 16px);
    max-width: calc(100% - 16px);
    min-width: 600px;
    height: 100px;

    color: #fff;
    background-color: #4096ff;
}

.contentStyle {
    display: flex;
    margin-left: 10px;
    padding: 10px;
    text-align: center;

    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(172, 165, 169);

    min-height: 350px;
    max-height: calc(100vh - 92px - 92px);
}

.siderStyle {
    display: flex;
    color: #fff;
    background: inherit;


    max-height: calc(100vh - 92px - 92px);
}

.footerStyle {
    overflow: hidden;
    text-align: center;
    color: #fff;

    position: fixed;
    bottom: 0;

    width: calc(100% - 16px);
    max-width: calc(100% - 16px);
    min-width: 600px;

    background-color: #4096ff;
}

.layoutStyle {
    margin-top: 100px;
    width: calc(100%);
    max-width: calc(100%);
    min-width: 600px;
}